# Ignore Python cache and virtual environment
# Python cache
__pycache__/

# Virtual environment
.venv/
.venv38

# Local environment variables
.env
# Log files
*.log

# pyenv
.python-version

# dotenv
.env
.env.*

# data
*.json
*.db
*.pbix
.vscode

# DLL (non versionare binari)
*.dll

tenant_analysis
lib
lib_archive
tenant_analysis_service_principal/
tenant_analysis_user_auth/
